body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(245, 244, 244) !important;
}

* .form-floating{
    width: 85% !important;
    margin-left: 2rem;
}

.container {
    width: 20rem;
    min-height: 77rem;
    margin: 5rem 0 5rem 0;
    border-radius: 0.5rem;
    background-color: #fff;
    position: relative;
}

@media screen and (min-width: 1500px) {
    .container {
        max-height: 125rem;
    }
}

.header {
    width: 100%;
    
    /* position: absolute;
    top: 5rem;
    left: 6.45rem; */
}

.header h5 {
    position: absolute;
    text-align: center;
    padding-top: 0.3rem;
    color: orange;
    height: 2.5rem;
    width: 10rem;
    background-color: rgb(255, 233, 194);
    border-top-left-radius: 0.5rem;
    left: 0;
}


.outer-line{
    display: block;
    border-bottom: 1px solid rgba(250, 250, 250, 1);
    margin-right: 7rem;
    padding-top: 2.48rem;
}

.visitation {
    margin-top: 2rem;
    display: flex;
    align-items: center;
}

.visitation h5 {
    font-style: bold;
    padding-left: 1.5rem;
}

.visitation hr {
    display: block;
    width: 57rem;
    border: solid 1px rgba(228, 228, 228, 1) !important;
    margin: 0 0 0 2.5rem;
}

.Dutilize {
    margin-top: 2rem;
    margin-left: 2rem;
}

.col h6{
    cursor: pointer;
    color: rgba(129, 129, 199);
}

i.fa {
    font-size: 0.5rem;
    padding-bottom: 1rem;
}

.col h5{
    padding-top: 0.5rem;
}
.col-6 {
    margin-right: 17rem;
}

.col-6 hr {
    width: 57rem !important;
    border: solid 1px rgba(228, 228, 228, 1)!important;
    margin-top: 1.4rem;
    float: left;
}

h6 {
    padding-bottom: 3rem;
}

.center-btns {
   display: flex;
   justify-content: center;
   margin-top: 2rem;
}

button {
    padding-left: 5rem !important;
    padding-right: 5rem !important;
}

.table-data{
    width: 100%;
    padding: 0 2.4rem !important;
    display: none;
}

.table-data table{
    width: 100%;
}
.table-data table tbody tr{
    border: 1px solid #ccc;
    height: 4rem ;
    border-radius: 5px !important;
    margin-top: 30px !important;
}
.table-data table thead tr th {
    margin-bottom: 3rem;
}
.table-data table thead th{
    padding: 0 2rem;
}
.table-data table tbody td{
    padding: 0 2rem;
}